<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>토마토마켓 - 물품 등록</title>
    <link rel="shortcut icon" href="/img/favicon-32x32.png">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/reset-2.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css">
    <style>
        #image-group img:hover{border: 2px solid #535c68; filter: grayscale(100%); cursor: pointer}
    </style>

    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
</head>
<body>
<header th:replace="fragments.html :: header"></header>

    <div class="container">
        <div class="row justify-content-center">
            <form class="needs-validation col-sm-10" th:action="@{/new-product}" th:object="${productForm}" method="post" novalidate>

                <div class="form-group">
                    <label for="title" style="font-weight: bold">제목</label>
                    <input id="title" type="text" th:field="*{title}" class="form-control" name="title"
                           placeholder="글 제목" aria-describedby="titleHelp" max="35" required>
                    <small class="invalid-feedback">글 제목을 입력하세요. 최대 35자까지 작성할 수 있습니다.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
                </div>

                <div class="form-group">
                    <label for="category" style="font-weight: bold">카테고리 선택</label>
                    <select id="category" name="category" th:field="*{category}" class="form-control" required>
                        <option value="디지털/가전">디지털/가전</option>
                        <option value="가구/인테리어">가구/인테리어</option>
                        <option value="유아동/유아도서">유아동/유아도서</option>
                        <option value="생활/가공식품">생활/가공식품</option>
                        <option value="스포츠/레저">스포츠/레저</option>
                        <option value="여성잡화">여성잡화</option>
                        <option value="여성의류">여성의류</option>
                        <option value="남성패션잡화">남성패션잡화</option>
                        <option value="게임/취미">게임/취미</option>
                        <option value="뷰티/미용">뷰티/미용</option>
                        <option value="반려동물용품">반려동물용품</option>
                        <option value="도서/티켓/음반">도서/티켓/음반</option>
                        <option value="기타중고물품">기타중고물품</option>
                        <option value="삽니다">삽니다</option>
                    </select>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></small>
                </div>

                <div class="form-group">
                    <label for="price" style="font-weight: bold">가격 입력</label>
                    <input id="price" type="number" th:field="*{price}" class="form-control" name="price"
                           placeholder="물품 가격(원)" aria-describedby="priceHelp" min="0" step="10" max="1000000000" required>
                    <small class="invalid-feedback">올바른 가격을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
                </div>

                <div class="form-group" style="display: none" hidden>
                    <input type="text" name="images" id="image-group-value" th:field="*{images}">
                </div>

                <div id="image-group"></div>

                <div class="form-group">
                    <label for="description" style="font-weight: bold">물품 소개 / 이미지 등록</label>
                    <textarea id="description" type="textarea" name="description" th:field="*{description}" class="editor form-control" aria-describedby="descriptionHelp" required></textarea>
                    <small class="invalid-feedback">상세 소개를 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></small>
                </div>

                <div class="form-group mb-lg-5 mt-lg-4">
                    <button class="btn btn-primary" type="submit"
                            aria-describedby="submitHelp">물품 등록하기</button>
                    &nbsp;&nbsp;<button type="button" class="btn btn-secondary" id="back">취소</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script th:replace="fragments.html :: ajax-csrf-header"></script>
    <script th:replace="fragments.html :: editor-script"></script>
    <script th:replace="fragments.html :: form-validation"></script>
    <script>
        document.querySelector("#back").onclick = function(){
            location.href = "/";
        }
    </script>

</body>
</html>