
article{height: 500px;}
article .profile{width: 700px; height: 250px; padding-top: 30px; border-radius: 10px; margin: 0 auto; background-color: #ffffff; border: 1px solid #dbdbdb;}
article .profile .profile-image{width: 240px; height: inherit; float: left; padding-left: 50px; padding-right: 40px;}
article .profile .profile-image svg{border: 3px solid #273c75; width: 150px; height: 150px; border-radius: 5px;}
article .profile .profile-content{width: 400px; height: inherit; float: left; }
article .profile .profile-content ul li{padding-bottom: 18px; font-size: 27px;}
article .profile .profile-content .profile-content-title input{margin-left: 15px; width: 280px; height: 35px; font-size: 20px; padding:0 10px; border-radius: 20px; border: 2px solid #2ecc71;}
article .profile .profile-content .profile-content-title input:focus{outline: none;}
article .profile .profile-content .profile-content-title span{display: inline-block; margin-left: 15px;}
article .profile .profile-content .password-modify button{margin-left: 15px; font-weight: bold; font-size: 23px; padding: 5px; color: #fff; border-radius: 10px;}
article .profile .profile-content .password-modify button:hover{cursor: pointer; text-decoration: underline;}
article .profile .profile-content .password-modify button:focus{outline: none;}
article .profile .profile-content .password-modify .do{background-color: #2980b9; }
article .profile .profile-content .password-modify .undo{background-color: #d63031;}
article .profile .profile-content .error{font-size: 19px; width: 450px; margin-top: 15px; color: #ff6348;}
