.sign-up{height: 42px;}
.logout-form{height: 42px;}

article{padding-top:140px; height: 700px; }
article .profile{width: 665px; height: 270px; padding-top: 30px; border-radius: 10px; background-color: #ffffff; border: 1px solid #dbdbdb;}
article .profile .profile-image{ width: 210px; height: inherit; float: left; padding-left: 50px; padding-right: 40px;}
article .profile .profile-image svg{border: 3px solid #273c75; width: 120px; height: 120px; border-radius: 5px;}
article .profile .profile-image .profile-modify{padding-top: 10px; font-weight: bold; font-size: 15px; text-align: center;}
article .profile .profile-image .profile-modify button{font-weight: bold; font-size: 15px; padding: 5px; background-color: #2980b9; color: #fff; border-radius: 10px;}
article .profile .profile-image .profile-modify button:hover{cursor: pointer; background-color: #ff6348;}
article .profile .profile-image .profile-modify button:focus{outline: none;}
article .profile .profile-content{ width: 300px; height: inherit; float: left; padding-left: 20px;}
article .profile .profile-content ul li{padding-bottom: 8px; font-size: 17px;}
article .profile .profile-content ul li .fa-phone{font-size: 20px;}
article .profile .profile-content ul li .fa-unlock-alt{font-size: 19px;}
article .profile .profile-content .profile-content-title span{display: inline-block; margin-left: 15px;}
article .profile .profile-content .profile-content-title .add{font-size: 12px; color: #95a5a6; margin-left: 10px;}
article .profile .profile-content .profile-content-title .modify-password:hover{text-decoration: underline;}

article .notification{margin-top: 10px; width: 665px; background-color: #74b9ff; border-radius: 10px; padding: 0 20px 20px 20px; font-size: 15px;}
article .notification ul li:first-child{margin-bottom: 10px; height: 40px;}
article .notification .custom-control{padding-top: 6px;}
article .notification .change-noti{font-weight: bold; font-size: 14px; padding: 2px 5px; background-color: #2980b9; color: #fff; border-radius: 10px; border: none;}
article .notification .change-noti:hover{cursor: pointer; background-color: #ff6348;}
article .notification .change-noti:focus{outline: none;}

article .more{font-size: 15px; color: #718093;}
article .like{height: 200px; border-bottom: 1px solid #dbdbdb;}
article .like .like-title{padding-top: 35px; font-weight: bold; font-size: 22px;}
article .like .like-content{padding-top: 10px; height: 120px;}
article .keyword{height: 200px; border-bottom: 1px solid #dbdbdb;}
article .keyword .keyword-title{padding-top: 20px; font-weight: bold; font-size: 22px;}
article .keyword .keyword-content{padding-top: 10px; height: 120px;}
article .selling{height: 200px; border-bottom: 1px solid #dbdbdb;}
article .selling .selling-title{padding-top: 20px; font-weight: bold; font-size: 22px;}
article .selling .selling-content{padding-top: 10px; height: 120px;}
article .recent-act{height: 200px; border-bottom: 1px solid #dbdbdb;}
article .recent-act .recent-act-title{padding-top: 20px; font-weight: bold; font-size: 22px;}
article .recent-act .recent-act-content{padding-top: 10px; height: 120px;}
article .chat{height: 200px; border-bottom: 1px solid #dbdbdb;}
article .chat .chat-title{padding-top: 20px; font-weight: bold; font-size: 22px;}
article .chat .chat-content{padding-top: 10px; height: 120px;}
article .leave div{height: 40px; padding-top: 20px; font-size: 15px; text-align: right;}
article .leave div a{color:#c23616;}


#footer{background: #34495e; height: 250px;}
.footer {text-align: center; padding: 60px 50px; ; font-size: 17px;}
.footer ul{padding-top: 10px;}
.footer li {position: relative; display: inline; padding: 0 7px 0 10px; white-space: nowrap; color: #bdc3c7;}
.footer li a{color: #bdc3c7; font-size: 17px;}
.footer li a:hover{text-decoration: underline;}
.footer li:before {content: ''; width: 1px; height: 14px; background-color: #dbdbdb; position: absolute; left: 0; top: 6px;}
.footer li:first-child:before {width: 0;}
.footer address {padding-top: 15px; color: #7f8c8d}