body{background-color: #f5f6fa;}
.container{margin: 0 auto; width: 600px; height: 100%;}
#signup-header{width: 100%; margin-top: 40px;}
.signup-title{height: 80px;}
.signup-title-wrap{padding: 10px 170px; height: 60px;}
.signup-tomato{width: 60px; height: 60px; float: left;}
.signup-head{float: left; color:#ff6348; font-size: 40px; font-weight: bold; font-family: 'Gamja Flower', cursive;}

article{margin-top: 10px;}
article small{color: #e84118;}
article .inputuser .input-info{text-align: center; margin: 5px 0;}
article .inputuser label{display: block; font-size: 18px; font-weight: bold; padding: 10px 100px 5px; text-align: left;}
article .inputuser input{width: 380px; height: 45px; padding: 0 10px;}
article .inputuser .submit{width: 400px; height: 50px; background-color: #ff6348; color: #fff; font-size: 22px; margin: 20px 0; letter-spacing: 1px; border: none;}
article .inputuser .submit:hover{cursor: pointer; color: #222222;}
footer .footer address{text-align: center;}