<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>토마토 마켓 - 가입 확인</title>
    <link rel="shortcut icon" href="/img/favicon-32x32.png">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/account/checked-email.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
</head>
<body>

    <header th:replace="fragments.html :: header"></header>

    <article>
        <div class="mycontainer">
            <div class="email-check">
                <div th:if="${error == null}">
                    <p>이메일 인증에 성공했습니다.</p>
                    <span th:text="${name}"></span>(<span th:text="${nickname}"></span>)님 가입을 축하합니다.<br>
                    <a href="/"><button>매물 보러가기</button></a>
                </div>
                <div th:if="${error != null}">
                    <p th:text="${error}"></p>
                    <button type="submit">이메일 재전송</button>
                </div>

            </div>
        </div>
    </article>


</body>
</html>