<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>토마토 마켓 - 비밀번호 변경</title>
    <link rel="shortcut icon" href="/img/favicon-32x32.png">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/reset-2.css">
    <link rel="stylesheet" href="/css/account/password-modify.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
</head>
<body>
    <header th:replace="fragments.html :: header"></header>
    <div th:replace="fragments.html :: veri-email"></div>

    <article style="height: 600px;">
        <div class="container">
            <div class="row">
                <div th:replace="fragments.html :: profile-side-menu (menu = 'password')"></div>
                <div class="col-7">
                <form th:action="@{/profile/password}" th:method="post" th:object="${passwordForm}" class="modify-form needs-validation" novalidate>
                    <div class="profile">
                        <div class="profile-image">
                            <svg th:if="${#strings.isEmpty(account?.profileImage)}" th:data-jdenticon-value="${#authentication.name}"
                                 width="125" height="125"></svg>
                            <img th:if="${!#strings.isEmpty(account?.profileImage)}" th:src="${account.profileImage}"
                                 width="125" height="125"/>
                        </div>
                        <div class="profile-content">
                            <ul class="profile-content-title">
                                <li>
                                    <input type="password" th:field="*{newPassword}" placeholder="새 비밀번호 입력" required min="8" max="30">
                                </li>
                                <li>
                                    <input type="password" th:field="*{newPassword2}" placeholder="새 비밀번호 재입력" required min="8" max="30">
                                </li>
                            </ul>
                            <div class="password-modify"><button type="submit" class="do">변경하기</button><a th:href="@{'/profile/'+ ${#authentication.name}}"><button type="button" class="undo">취소하기</button></a></div>
                            <div class="error"><small th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></small></div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </article>

    <div th:replace="fragments.html :: footer"></div>

    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
    <script th:replace="fragments.html :: form-validation"></script>
</body>
</html>