<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>토마토 마켓 - 프로필</title>
    <link rel="shortcut icon" href="/img/favicon-32x32.png">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/account/profile.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
</head>
<body>
    <header th:replace="fragments.html :: header"></header>
    <div th:replace="fragments.html :: veri-email"></div>

    <article>
        <div class="container">
            <div class="row">
                <div th:if="${isOwner}"><div th:replace="fragments.html :: profile-side-menu (menu = 'profile')"></div></div>
                <div class="col-7">
                    <div class="profile">
                        <div class="profile-image">
                            <svg th:if="${#strings.isEmpty(accountToView?.profileImage)}" th:data-jdenticon-value="${accountToView.nickname}"
                                 width="125" height="125"></svg>
                            <img th:if="${!#strings.isEmpty(accountToView?.profileImage)}" th:src="${accountToView.profileImage}"
                                 width="125" height="125"/>
                            <br>
                            <div class="profile-modify"><button class="modify" th:if="${isOwner}">개인정보 수정</button></div>
                        </div>
                        <div class="profile-content">
                            <ul class="profile-content-title">
                                <li>
                                    <i class="fa fa-id-card-o" aria-hidden="true"></i>
                                    <span th:if="${isOwner}" th:text="${accountToView.name}"></span><span class="add">(이름)</span>
                                </li>
                                <li>
                                    <i class="fa fa-user-o" aria-hidden="true"></i>
                                    <span th:text="${accountToView.nickname}"></span><span class="add">(닉네임)</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <span th:text="${accountToView.email}">프로필 이메일</span>
                                </li>
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span th:if="${isOwner}" th:text="${accountToView.phone}">프로필 휴대폰 번호</span>
                                </li>
                                <li>
                                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                                    <span th:if="${!#strings.isEmpty(accountToView.joinedAt)}" th:text="${#temporals.format(accountToView.joinedAt, 'yyyy년 MM월 dd일 가입')}">프로필 가입일</span>
                                    <span th:if="${#strings.isEmpty(accountToView.joinedAt) && isOwner}" style="color: #ffffff; background-color: #ff6348">이메일 인증이 필요합니다.</span>
                                </li>
                                <li>
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <span th:if="${#lists.isEmpty(accountToView.locations) && isOwner}" style="background-color: #ff6348"><a href="/profile/locations" style="color: #ffffff;">동네를 설정해주세요.</a></span>
                                    <span th:if="${!#lists.isEmpty(accountToView.locations)}" th:each="location : ${accountToView.locations}">
                                        <span th:text="${location.toString()}" style="margin: 0" class="location-from-tag"></span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="notification" th:if="${isOwner}">
                        <form th:action="@{/notification}" th:object="${notificationForm}" method="post" novalidate>
                            <ul>
                                <li>
                                    <br><span><i class="fa fa-bell" aria-hidden="true"></i>&nbsp;우리 동네에 관심 태그로 설정한 매물이 등록시 웹 알림</span>
                                    <div class="custom-control custom-switch custom-control-inline">
                                        <input type="checkbox" th:field="*{newProductNotiByWeb}" class="custom-control-input" id="newProductNotiByWeb">
                                        <label class="custom-control-label" for="newProductNotiByWeb"></label>
                                    </div>
                                </li>
                                <li>
                                    <span><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;우리 동네에 관심 태그로 설정한 매물이 등록시 이메일 알림</span>
                                    <div class="custom-control custom-switch custom-control-inline">
                                        <input type="checkbox" th:field="*{newProductNotiByEmail}" class="custom-control-input" id="newProductNotiByEmail">
                                        <label class="custom-control-label" for="newProductNotiByEmail"></label>
                                    </div>
                                    <input class="change-noti" type="submit" value="알림 변경">
                                </li>
                            </ul>
                        </form>
                        <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                            <span th:text="${message}">완료</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <div th:replace="fragments.html :: footer"></div>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        let locationFromTag = document.querySelectorAll(".location-from-tag");
        if(locationFromTag.length === 2){
            locationFromTag[1].style.marginLeft = '20px';
        }


        document.querySelector(".modify").onclick = function(){
            location.href = "/profile/settings";
        }
    </script>
</body>
</html>