<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>토마토 마켓 - 회원가입</title>
    <link rel="shortcut icon" href="/img/favicon-32x32.png">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/account/sign-up.css">

    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
</head>
<body>

    <header id="signup-header">
        <div class="mycontainer">
            <div class="signup-title">
                <div class="signup-title-wrap">
                    <a href="/"><img src="img/tomato-emoji-clipart-md.png" alt="tomato" class="signup-tomato">
                    <div class="signup-head">토마토 마켓</div></a>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="mycontainer">
            <div class="inputuser">
                <form th:action="@{/sign-up}" method="post" th:object="${signUpForm}" class="needs-validation" novalidate>
                    <div class="input-info">
                        <label for="email">이메일</label>
                        <input id="email" type="email" name="email" th:field="*{email}" placeholder="tomato@email.com" required>
                        <br><small th:if="${#fields.hasErrors('email')}" th:errors="*{email}">이메일 입력 오류</small>
                    </div>
                    <div class="input-info">
                        <label for="password">비밀번호</label>
                        <input id="password" type="password" name="password" th:field="*{password}" placeholder="8자 이상의 비밀번호 입력" required minlength="8" maxlength="20">
                    </div>
                    <div class="input-info">
                        <label for="password2">비밀번호 확인</label>
                        <input id="password2" type="password" name="password2" th:field="*{password2}" placeholder="8자 이상의 비밀번호 재입력" required minlength="8" maxlength="20">
                        <br><small th:if="${#fields.hasErrors('password')}" th:errors="*{password}">비밀번호 불일치 오류</small>
                    </div>
                    <div class="input-info">
                        <label for="name">이름</label>
                        <input id="name" type="text" name="name" th:field="*{name}" placeholder="이름을 입력하세요." required>
                        <br><small th:if="${#fields.hasErrors('name')}" th:errors="*{name}">이름 입력 오류</small>
                    </div>
                    <div class="input-info">
                        <label for="nickname">닉네임</label>
                        <input id="nickname" type="text" name="nickname" th:field="*{nickname}" placeholder="한글, 알파벳, 숫자만 허용됩니다." required>
                        <br><small th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">닉네임 입력 오류</small>
                    </div>
                    <div class="input-info">
                        <label for="phone">휴대폰 번호</label>
                        <input id="phone" type="tel" name="phone" th:field="*{phone}" placeholder="특수문자 없이 숫자만 입력하세요." required>
                        <br><small th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">휴대폰 번호 입력 오류</small>
                    </div>
                    <div class="input-info">
                        <input type="submit" value="가입하기" class="submit">
                    </div>
                </form>
            </div>
        </div>
    </article>

    <footer>
        <div class="mycontainer">
            <div class="footer">
                <address>Copyright © <strong>Tomato Market</strong> Inc. All Rights Reserved.</address>
            </div>
        </div>
    </footer>

    <script th:replace="fragments.html :: form-validation"></script>
</body>
</html>