<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>토마토 마켓</title>
</head>
<body>
    <!-- header -->
    <header id="header" th:fragment="header">
        <div class="mycontainer">
            <div class="title">
                <div class="title-wrap">
                    <a href="/"><img src="/img/tomato-emoji-clipart-md.png" alt="tomato" class="tomato">
                        <div class="head">토마토 마켓</div>
                    </a>
                    <form th:action="@{/search/product}" method="get" class="search">
                        <div class="search-input"><input type="search" name="keyword" placeholder="지역, 상품 등을 검색해보세요." required></div>
                        <div class="search-img"><button type="submit" th:href="@{/search/product}" class="search-button" title="검색"><img src="/img/magnifying-glass-tilted-left-emoji-clipart-md.png" alt="search" class="magnifying"></button></div>
                    </form>
                    <a th:href="@{/login}" sec:authorize="!isAuthenticated()"><div class="log"><span>로그인</span></div></a>
                    <form th:action="@{/logout}" method="post" class="logout-form" sec:authorize="isAuthenticated()"><input type="submit" value="로그아웃"></form>
                    <a th:href="@{/sign-up}" sec:authorize="!isAuthenticated()"><div class="sign-up"><span>회원가입</span></div></a>
                    <a th:href="@{'/profile/'+ ${#authentication.name}}" sec:authorize="isAuthenticated()" title="내 정보">
                        <div class="sign-up">
                            <svg th:if="${#strings.isEmpty(account?.profileImage)}" th:data-jdenticon-value="${#authentication.name}" width="25" height="25"></svg>
                            <img th:if="${!#strings.isEmpty(account?.profileImage)}" th:src="${account.profileImage}" width="25" height="25"/>
                            <div th:text="${#authentication.name}"></div>
                        </div>
                    </a>
                    <div class="new-notification">
                        <a class="nav-link" th:href="@{/notifications}" sec:authorize="isAuthenticated()" style="padding: 0">
                            <i th:if="${!hasNotification}" class="fa fa-bell-o" aria-hidden="true" title="새알림이 없습니다."></i>
                            <span th:if="${hasNotification}" style="position: relative;">
                                <i class="fa fa-bell" aria-hidden="true" style="color: #ffd700;" title="새알림 도착!"></i>
                                <span style="position: absolute; top: 0; right: -7px; font-size: 10px; color: #FFFFFF; background-color: #cc0000; border-radius: 50%; width: 17px; height: 17px; text-align: center" th:text="${numberOfNotChecked}"></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- //header -->

    <!-- 이메일 인증하라는 메세지 -->
    <div class="not-veri-email" th:if="${account != null && !account.emailVerified}" th:fragment="veri-email">
        <span>&nbsp;&nbsp;서비스를 이용<br>&nbsp;&nbsp;하려면 이메일<br>인증을 해주세요.<br>&nbsp;<a th:href="@{/resend-confirm-email}"><button type="button" class="resend">이메일 인증하기</button></a></span>
    </div>
    <!-- //이메일 인증하라는 메세지 -->


    <!-- 프로필 사이드 메뉴 -->
    <div class="list-group" th:fragment="profile-side-menu (menu)">
        <a class="list-group-item list-group-item-action" th:classappend="${menu == 'profile'}? active" th:href="@{'/profile/'+ ${#authentication.name}}" sec:authorize="isAuthenticated()">프로필</a>
        <a class="list-group-item list-group-item-action" th:classappend="${menu == 'locations'}? active" th:href="@{/profile/locations}">동네 설정</a>
        <a class="list-group-item list-group-item-action" th:classappend="${menu == 'tags'}? active" th:href="@{/profile/tags}">관심 태그 설정</a>
        <a class="list-group-item list-group-item-action" th:classappend="${menu == 'products'}? active" th:href="@{/profile/products}">판매 내역</a>
        <a class="list-group-item list-group-item-action" th:classappend="${menu == 'productsLiked'}? active" th:href="@{/profile/productsLiked}">관심 상품</a>
        <a class="list-group-item list-group-item-action" th:classappend="${menu == 'password'}? active" th:href="@{/profile/password}">비밀번호 변경</a>
    </div>


    <!-- form-validation -->
    <script type="application/javascript" th:fragment="form-validation">
        (function () {
            'use strict';

            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');

                // Loop over them and prevent submission
                Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
            }, false)
        }())
    </script>

    <!-- csrf토큰 전송 -->
    <script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
        $(function() {
            var csrfToken = /*[[${_csrf.token}]]*/ null;
            var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            });
        });
    </script>

    <!-- Summber Note -->
    <div th:fragment="editor-script">
        <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
        <script type="application/javascript" th:inline="javascript">
            $(function () {
                $('.editor').summernote({
                    placeholder: "게시글 내용을 작성해주세요. (가품 및 판매금지품목은 게시가 제한될 수 있어요.)<br>이미지는 최대 10장까지 등록할 수 있고, 첫번째 이미지가 대표이미지가 됩니다." +
                        "<br>이미지당 최대 크기는 1MB씩이고, 등록한 이미지를 클릭하면 이미지를 삭제할 수 있어요.",
                    tabsize: 2,
                    height: 400,
                    minHeight:400,
                    maxHeight:800,
                    callbacks: {
                        onImageUpload : function(files) {
                            for(let i=0; i<files.length; i++){
                                uploadSummernoteImageFile(files[i]);
                            }
                        }
                    }
                });

                let imgTags = document.querySelectorAll('#image-group img');
                for(let i=0; i<imgTags.length; i++){
                    imgTags[i].addEventListener("click", function(){
                        imgTags[i].remove();
                        let imageGroup = document.querySelector('#image-group');
                        document.querySelector('#image-group-value').setAttribute('value', imageGroup.innerHTML);
                        if(imgTags.length === 1){
                            imageGroup.style.border = "0";
                            imageGroup.style.marginBottom = "0";
                        }
                    });
                }

                function uploadSummernoteImageFile(file) {
                    const data = new FormData();
                    data.append("file", file);
                    $.ajax({
                        data : data,
                        type : "POST",
                        url : "/uploadSummernoteImageFile/",
                        contentType : false,
                        processData : false,
                        success : function(data) {
                            const node = document.createElement('img');
                            node.setAttribute('src', data.url);
                            node.setAttribute('style', 'width:91.8px; height:91.8px;');
                            const imageGroup = document.querySelector('#image-group');
                            imageGroup.style.border = "1px solid #dbdbdb";
                            imageGroup.style.marginBottom = "15px";
                            imageGroup.appendChild(node);

                            let imgTags = document.querySelectorAll('#image-group img');
                            imgTags[imgTags.length-1].addEventListener("click", function(){
                                imgTags[imgTags.length-1].remove();
                                document.querySelector('#image-group-value').setAttribute('value', imageGroup.innerHTML);
                                if(imgTags.length === 1){
                                    imageGroup.style.border = "0";
                                    imageGroup.style.marginBottom = "0";
                                }
                            });

                            if(imgTags.length > 10 ){
                                alert('이미지는 최대 10장까지 등록 가능합니다.');
                                imgTags[imgTags.length-1].remove();
                            }
                            document.querySelector('#image-group-value').setAttribute('value', imageGroup.innerHTML);
                        }
                    });
                }
            });
        </script>
    </div>

    <!-- BootStrap Tooltip -->
    <script th:fragment="tooltip" type="application/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>


    <!-- footer -->
    <div id="footer" th:fragment="footer">
        <div class="mycontainer">
            <div class="footer">
                <ul>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#"><strong>개인정보처리방침</strong></a></li>
                    <li><a href="#">위치기반서비스 이용약관</a></li>
                    <li><a href="#"><strong>광고주센터</strong></a></li>
                    <li><a href="#">ABOUT US</a></li>
                </ul>
                <ul>
                    <li>(주)토마토마켓 대표 채민철</li>
                    <li>고객문의 : <a href="/">cmc752@gmail.com</a></li>
                </ul>
                <address>
                    Copyright © <strong>Tomato Market</strong> Inc. All Rights Reserved.
                </address>
            </div>
        </div>
    </div>
    <!-- //footer -->

</body>
</html>