<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>토마토 마켓</title>
</head>
<body>
    <!-- header -->
    <header id="header" th:fragment="header">
        <div class="container">
            <div class="title">
                <div class="title-wrap">
                    <a href="/"><img src="/img/tomato-emoji-clipart-md.png" alt="tomato" class="tomato">
                        <div class="head">토마토 마켓</div></a>
                    <div class="search">
                        <div class="search-input"><input type="text" name="serch" placeholder="지역, 상품 등을 검색해보세요."></div>
                        <div class="search-img"><button class="search-button" title="검색"><img src="/img/magnifying-glass-tilted-left-emoji-clipart-md.png" alt="search" class="magnifying"></button></div>
                    </div>
                    <a th:href="@{/login}" sec:authorize="!isAuthenticated()"><div class="log"><span>로그인</span></div></a>
                    <form th:action="@{/logout}" method="post" class="logout-form" sec:authorize="isAuthenticated()"><input type="submit" value="로그아웃"></form>
                    <a th:href="@{/sign-up}" sec:authorize="!isAuthenticated()"><div class="sign-up"><span>회원가입</span></div></a>
                    <a th:href="@{'/profile/'+ ${#authentication.name}}" sec:authorize="isAuthenticated()"><div class="sign-up"><span>내정보</span></div></a>
                </div>
            </div>
        </div>
    </header>
    <!-- //header -->

    <!-- 이메일 인증하라는 메세지 -->
    <div class="not-veri-email" th:if="${account != null && !account.emailVerified}" th:fragment="veri-email">
        <span>이메일 인증이 <br>필요합니다. <br>이메일을 <br>확인해주세요.<br><button type="submit" class="resend">이메일 재전송</button></span>
    </div>
    <!-- //이메일 인증하라는 메세지 -->

</body>
</html>