<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>토마토 마켓</title>
    <link rel="shortcut icon" href="/img/favicon-32x32.png">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slick-theme.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
</head>
<body>

    <header th:replace="fragments.html :: header"></header>
    <div th:replace="fragments.html :: veri-email"></div>

    <!-- nav -->
    <nav id="nav">
        <div class="mycontainer">
            <div class="category">
                <div class="category-title"><i class="fa fa-bars" aria-hidden="true"></i><span>카테고리</span></div>
                <ul class="category-list">
                    <button><li>디지털/가전</li></button>
                    <button><li>가구/인테리어</li></button>
                    <button><li>유아동/유아도서</li></button>
                    <button><li>생활/가공식품</li></button>
                    <button><li>스포츠/레저</li></button>
                    <button><li>여성잡화</li></button>
                    <button><li>여성의류</li></button>
                    <button><li>남성패션잡화</li></button>
                    <button><li>게임/취미</li></button>
                    <button><li>뷰티/미용</li></button>
                    <button><li>반려동물용품</li></button>
                    <button><li>도서/티켓/음반</li></button>
                    <button><li>기타중고물품</li></button>
                    <button><li class="category-last">삽니다</li></button>
                </ul>
            </div>
        </div>
    </nav>
    <!-- //nav -->

    <!-- section -->
    <section id="section">
        <div class="mycontainer">
            <div class="recommand">
                <div class="recommand-title">토마토 마켓 인기 매물</div>
                <div class="fade">
                    <div>
                        <a href="#">
                            <figure>
                                <img src="/img/1.jpg">
                                <figcaption><span class="fade-title">싱가폴 아파트 팝니다</span><span class="fade-location">싱가포르 종로구 동동</span><span class="fade-price">540,000원</span></figcaption>
                            </figure>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <figure>
                                <img src="/img/2.jpg">
                                <figcaption><span class="fade-title">미국 빌딩 3채 팔아요~</span><span class="fade-location">미국 플로리다주</span><span class="fade-price">790,000원</span></figcaption>
                            </figure>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <figure>
                                <img src="/img/3.jpg">
                                <figcaption><span class="fade-title">아껴 쓰던 섬 급처합니다!!</span><span class="fade-location">전라남도 완도군 노화읍 죽굴도</span><span class="fade-price">30,000원</span></figcaption>
                            </figure>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <figure>
                                <img src="/img/4.jpg">
                                <figcaption><span class="fade-title">외딴섬에 있는 별장 팔아봅니다^^</span><span class="fade-location">전라남도 신안군 만재도</span><span class="fade-price">5,500,000원</span></figcaption>
                            </figure>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <figure>
                                <img src="/img/5.jpg">
                                <figcaption><span class="fade-title">셜록홈즈가 살던 집 팔아요ㅋ</span><span class="fade-location">영국 런던 베이커스트리트 221b</span><span class="fade-price">2,100,000원</span></figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="recommand-menu">
                    <div class="recommand-head">
                        <span>추천 검색어</span>
                    </div>
                    <div class="recommand-body">
                        <ul>
                            <li><b>1</b><span>자전거</span></li>
                            <li><b>2</b><span>캠핑</span></li>
                            <li><b>3</b><span>냉장고</span></li>
                            <li><b>4</b><span>에어컨</span></li>
                            <li><b>5</b><span>의자</span></li>
                            <li><b>6</b><span>선풍기</span></li>
                            <li><b>7</b><span>노트북</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //section -->

    <main>
        <article id="article">
            <div class="mycontainer">
                <div class="content">
                    <ul>
                        <a href="#"><li>
                            <div><img src="/img/8.jpg"></div>
                            <div class="content-info">
                                <div class="content-title">레노버 노트북 S340 팔아요</div>
                                <div class="content-location">경기도 고양시 덕양구 화중로 152번길 32</div>
                                <div class="content-price">420,000원</div>
                                <div class="content-detail">조회수 38 · 관심 9</div>
                            </div>
                        </li></a>
                        <a href="/"><li>b</li></a>
                        <a href="/"><li>c</li></a>
                        <a href="/"><li>d</li></a>
                        <a href="/"><li>e</li></a>
                        <a href="/"><li>f</li></a>
                        <a href="/"><li>g</li></a>
                        <a href="/"><li>h</li></a>
                        <a href="/"><li>i</li></a>
                        <a href="/"><li>j</li></a>
                        <a href="/"><li>k</li></a>
                        <a href="/"><li>l</li></a>
                        <a href="/"><li class="content-more"><div class="content-more-plus">+</div><div class="content-more-text">토마토 마켓 <br>매물 더 보기</div></li></a>
                    </ul>
                </div>
            </div>
        </article>
    </main>

    <section id="pre-footer">
        <div class="mycontainer">
            <div class="question">
                <h5>궁금한 점이 있으신가요?</h5>
                <h6><a href="/"><i class="fa fa-question-circle-o" aria-hidden="true"></i><span class="q1">자주 묻는 질문</span></a>
                    <a href="/"><span class="q2">문의하기</span></a></h6>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="mycontainer">
            <div class="footer">
                <ul>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#"><strong>개인정보처리방침</strong></a></li>
                    <li><a href="#">위치기반서비스 이용약관</a></li>
                    <li><a href="#"><strong>광고주센터</strong></a></li>
                    <li><a href="#">ABOUT US</a></li>
                </ul>
                <ul>
                    <li>(주)토마토마켓 대표 채민철</li>
                    <li>고객문의 : <a href="/">cmc752@gmail.com</a></li>
                </ul>
                <address>
                    Copyright © <strong>Tomato Market</strong> Inc. All Rights Reserved.
                </address>
            </div>
        </div>
    </footer>

    <script src="/js/jquery.min_3.5.1.js"></script>
    <script src="/js/slick.min.js"></script>
    <script>
        $('.fade').slick({
            dots: true,
            autoplay: true,
            autoplaySpeed: 3500,
            infinite: true,
            speed: 500,
            fade: true,
            arrows: false,
            cssEase: 'linear'
        });
    </script>
</body>
</html>