<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>토마토마켓 - 문의하기</title>
    <link rel="shortcut icon" href="/img/favicon-32x32.png">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/reset-2.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
</head>
<body>
    <header th:replace="fragments.html :: header"></header>
    <section class="jumbotron text-center">
        <div class="container">
            <p class="lead text-muted" style="font-size: 24px;">
                오른쪽 아래의 메신저를 이용해 문의해주세요.
            </p>
            <p>
                <a href="javascript:history.back()" class="btn btn-secondary my-3 mx-1">이전 페이지로</a>
                <a th:href="@{/}" class="btn btn-primary my-3">홈으로</a>
            </p>
        </div>
    </section>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5e9fc5ad69e9320caac60eba/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>